{% extends 'public/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center" id="login-page">
    <div class="col-md-5 mx-auto shadow p-3 mb-5 mt-5 bg-body rounded">

        <div class=" mx-auto login-card">
            <p class="text-center">
                <img src="{% static 'images/help.jpeg'%}" alt="logo" id="logo-login">
            </p>
            <p class="text-center" id="par">LOGIN</p>

            <form method="POST" class="col-md-10 mx-auto">
                {% csrf_token %}
                <div class="form-group first mb-2">
                    <label for="username" class="labele">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group last mb-4 mt-2">
                    <label for="password" class="labele">Password</label>
                    {{ form.password }}
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" value="LOG IN" class="btn d-grid gap-2" id="login-buuton">
                </div>

                
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </form>

            <!-- Register buttons -->
            <div class="text-center p-2" id="login-btns">
                <!-- <p class="not-member">Not a member? <a href="{% url 'register' %}">Register</a></p>
                <p class="not-member">or sign up with:</p> -->

                <!-- facebook login button -->
                <!-- <a class="btn" href="#!" role="button" id="facebook">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a> -->
                <!-- twitter login button -->
                <!-- <a class="btn text-white" id="twitter" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                    Twitter
                </a> -->
                <!-- google login button -->
                <!-- <a class="btn" id="google" href="#!" role="button">
                    <i class="fab fa-google"></i>
                    Google
                </a> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}