<!DOCTYPE html>
<html>
    <head>
        <title>about us page</title>
        
    </head>
    <body>
        <h1>about us page content</h1>
        <nav>
            <ul>
                <li><a href="cause.html"target="_blank">cause page</a></li>
                <li><a href="ourcrew.html"target="_blank">our crew page</a></li>
                <li><a href="donate.html"target="_blank">donate page</a></li>
                <li><a href="concept.html"target="_blank">concept page</a></li>
                <li><a href="login.html"target="_blank">login page</a></li>
                <li><a href="admin.html"target="_blank">admin page</a></li>
            </ul>
        </nav>
    </body>
</html>