<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickOutHunger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- External CSS file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}?{% now 'U' %}" type="text/css">
</head>
<body>
    <nav>
        <div class="nav_content">
            <div class="logo"><a href="{% url 'home'%}"><img class="log-img" src="{% static 'images/logo.jpeg'%}"></a><h1 class="header-text"><a href="{% url 'home' %}">KickOutHunger</a></h1></div>
            <ul>
                <li class="dropdown">
                    <a href="{% url 'aboutus' %}">About</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'aboutus' %}">About Us</a></li>
                        <li><a href="{% url 'our-crew' %}">Our Crew</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'concept' %}">Concept</a></li>
                <li><a href="{% url 'cause' %}">Cause</a></li>
                <li><a href="{% url 'donate' %}">Donate</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'admin' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="aboutUsdata">
            <h1>Our Cause</h1>
            <p>
                Welcome to KickOutHunger, a passionate and dedicated organization committed to eradicating food insecurity among university students. 
                At KickOutHunger, we believe that no student should face the heart-wrenching choice between pursuing their education and finding their 
                next meal. Our mission is to bridge the gap between students in need and the compassionate individuals and organizations willing to lend a helping hand.
            </p>
            <h2>Why We exist</h2>
            <p>
                Every day, countless university students struggle with the basic necessity of securing adequate food. This silent crisis often goes unnoticed, 
                yet it profoundly impacts students' academic performance, mental health, and overall well-being. We recognize that a hungry student cannot focus 
                on their studies, and we are determined to change that.
            </p>
            <h3>How We Help</h3>
            <p>
                <span>Connecting Generosity with Need:</span> Through our crowdsourcing platform, we connect students facing food insecurity with compassionate donors. 
                Your contributions, whether big or small, make a tangible difference in the lives of students striving to achieve their educational dreams.
            </p><br>
            <p>Volunteering Opportunities: We provide numerous opportunities for individuals to get involved. Whether it's organizing food drives, delivering meals, 
                or spreading awareness about our cause, your time and effort are invaluable to our mission.
            </p><br>
            <p>
                Raising Awareness: By sharing the stories of students in need and the impact of your contributions, we aim to raise awareness about the pervasive 
                issue of food insecurity on campuses. Together, we can amplify the conversation and inspire others to join our cause.
            </p>

        </div>
    </main>
        <footer class="social">
            <hr>
            <h2>Visit Our Social Media</h2>
            <a href="https://www.linkedin.com/in/david-nanjila" class="fa fa-linkedin"></a>
            <a href="https://github.com/stoicdavi" class="fa fa-github"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
            </footer>

</body>
</html>
