{% extends 'base.html' %}
{% load static %}
{% block title %}Cause{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/cause.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
    <div class="container main-content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Cause</h1>
                <p class="text-center">KickOutHunger is a transformative university feeding program designed to support students from less fortunate backgrounds who struggle to afford daily meals at the campus cafeteria. Recognizing that proper nutrition is vital for academic success and overall well-being, Project Inuka provides a sustainable solution to ensure no student has to go hungry. By leveraging the power of community and the generosity of well-wishers, corporate partners, and alumni, Project Inuka aims to create a supportive environment where every student can thrive.</p>
            </div>
        </div>
    </div>
{% endblock %}

