<!DOCTYPE html>
<html>
    <head>
        <title>concept page</title>
        
    </head>
    <body>
        <h1>concept page content</h1>
        <nav>
            <ul>
                <li><a href="cause.html"target="_blank">cause page</a></li>
                <li><a href="ourcrew.html"target="_blank">our crew page</a></li>
                <li><a href="donate.html"target="_blank">donate page</a></li>
                <li><a href="aboutus.html"target="_blank">about us page</a></li>
            </ul>
        </nav>
    </body>
</html>