<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickOutHunger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- External CSS file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
</head>
<body>
    <nav>
        <div class="nav_content">
            <div class="logo"><a href="{% url 'home'%}"><img class="log-img" src="{% static 'images/logo.jpeg'%}"></a><h1 class="header-text"><a href="{% url 'home' %}">KickOutHunger</a></h1></div>
            <ul>
                <li class="dropdown">
                    <a href="{% url 'aboutus' %}">About</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'aboutus' %}">About Us</a></li>
                        <li><a href="{% url 'our-crew' %}">Our Crew</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'concept' %}">Concept</a></li>
                <li><a href="{% url 'cause' %}">Cause</a></li>
                <li><a href="{% url 'donate' %}">Donate</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'admin' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
    <!-- Home page -->
   <main>
    <img class="donate-img" src="{% static 'images/image.png' %}">
    <h2>Donate to KickOutHunger</h2>
   </main>
    <div class="footer">
        <hr />
        <footer class="social">
            <h4>Visit Our Social Media</h4>
            
            <a href="https://www.linkedin.com/in/david-nanjila" class="fa fa-linkedin"></a>
            <a href="https://github.com/stoicdavi" class="fa fa-github"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
        </footer>
    </div>
</body>
</html>
