<!DOCTYPE html>
<html>
    <head>
        <title>donate page</title>
        
    </head>
    <body>
        <h1>donate page content</h1>
        <nav>
            <ul>
                <li><a href="ourcrew.html"target="_blank"> our crew page</a></li>
                <li><a href="cause.html"target="_blank">cause page</a></li>
                <li><a href="concept.html"target="_blank">concept</a></li>
                <li><a href="aboutus.html"target="_blank">about us page</a></li>
            </ul>
        </nav>
    </body>
</html>