<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT INUKA</title>

    <!--External Css file link-->
    <link rel="stylesheet" href="style.css" type="text/css ">
</head>

<body>
    <nav>
        <div class="nav_content">
            <div class="logo"><a href="#">PROJECT INUKA</a>
            </div>
        
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Concept</a></li>
                <li><a href="#">Cause</a></li>
                <li><a href="#">Our Crew</a></li>
                <li><a href="#">Donate</a></li>
            </ul>
        </div>
    </nav>
    <!--Home page-->
    <section class="section">
        <div class="section_container">
            <div class="content">
                <h1 class="title">
                    Welcome to <span>Project Inuka</span>
                </h1>
                <p class="inuka_brief">
                    Inuka is a feeding programme for campus students
                </p>
                <div class="action_btn">
                    <button class="apply">Enroll to Program</button>
                    <button class="donate">Feed a Student</button>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>