<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickOutHunger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- External CSS file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}" type="text/css">
</head>
<body>
    <nav>
        <div class="nav_content">
            <div class="logo"><a href="#">KickOutHunger</a></div>
            <ul>
                <li class="dropdown">
                    <a href="{% url 'aboutus' %}">About</a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'aboutus' %}">About Us</a></li>
                        <li><a href="{% url 'our-crew' %}">Our Crew</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'concept' %}">Concept</a></li>
                <li><a href="{% url 'cause' %}">Cause</a></li>
                <li><a href="{% url 'donate' %}">Donate</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'admin' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
    <!-- Home page -->
    <section class="section">
        <div class="section_container">
            <div class="content">
                <h2 class="title">Welcome to <span>KickOutHunger initiative</span></h2>
                <p class="inuka_brief">Inuka is a feeding programme for campus students</p>
               
                <div class="vision">
                    <h3>Vision</h3>
                    <p class="vision-p">
                        Our vision is to ensure that every university student in Kenya has consistent access to nutritious food, empowering them to excel academically and thrive personally.  
                    </p>
                </div>
                <div class="mission">
                    <h3>Mission</h3>
                    <p class='Mission-p'>Food insecurity is a significant issue affecting countless university students. Many struggle to afford nutritious meals while balancing the demands of their academic pursuits. We aim to alleviate this burden by connecting these students with donors who are passionate about making a difference in their lives.</p>
                        
                </div>
                <div class="action_btn">
                    <button class="apply"><a href="{% url 'signup' %}">Enroll to Program</a></button>
                    <button class="donate">Feed a Student</button>
                </div>
            </div>
            <div class="home-image">
                <p> To hold the home image</p>
            </div>
            
        </div>
    </section>
    <div class="footer">
        <hr />
        <footer class="social">
            <h4>Visit Our Social Media</h4>
            <a href="https://www.linkedin.com/in/david-nanjila" class="fa fa-linkedin"></a>
            <a href="https://github.com/stoicdavi" class="fa fa-github"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
        </footer>
    </div>
</body>
</html>
