{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?{% now 'U' %}">
</head>
<body>
    <!----login fomr-->
    <div class="login">
        <h1>Login</h1>
        <form action="login.php" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required><br>
            <button type="submit">Login</button>
        </form>
</body>
</html>