
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- {% load static%}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/our-crew.css' %}?{% now 'U' %}" type="text/css">--->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>KickOutHunger</title>
</head>
<body> -->
    
    <section class="main-body">
        <div class="container ">
            <h1 class="heading">Meet The Team</h1>
            <div class="card-wrapper card-content">
                <div class="card-c">
                    <img src="{% static 'images/Martin F.E.D.jpg'%}" alt="profile image" class="card-img">
                    <h1>Martin Musembi</h1>
                    <p class="title">Front End Developer</p>
                    <p class="Brief">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>                       
                    </ul>
                </div>

                <div class="card-c">
                    <img src="{% static 'images/David.jpg'%}" alt="profile image" class="card-img">
                    <h1>David</h1>
                    <p class="title">Front End Developer</p>
                    <p class="Brief">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>                       
                    </ul>
                </div>

                <div class="card-c">
                    <img src="{% static 'images/Karuga.jpg'%}" alt="" class="card-img">
                    <h1>Martin Musembi</h1>
                    <p class="title">Front End Developer</p>
                    <p class="Brief">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>                       
                    </ul>
                </div>

                <div class="card-c">
                    <img src="images/Martin.jpg" alt="">
                    <h1>Martin Musembi</h1>
                    <p class="title">Front End Developer</p>
                    <p class="Brief">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>                       
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>


<!-- </body>
</html> -->

{% endblock %}
