<!DOCTYPE html>
<html>
    <head>
        <title>ourcrew page</title>
        
    </head>
    <body>
        <h1>our crew page content</h1>
        <nav>
            <ul>
                <li><a href="donate.html"target="_blank"> donate page</a></li>
                <li><a href="concept.html"target="_blank"></a>concept page</a></li>
                <li><a href="cause.html"target="_blank">cause page</a></li>
                <li><a href="aboutus.html"target="_blank">aboutus page</a></li>
            </ul>
        </nav>
    </body>
</html>