main{
    margin: 10% 20px 10px 20px;
   
}

input[type="radio"]{
    background-color: #4CAF50;
    color: white;
    margin: 8px 10px;    
    cursor: pointer;
    gap: 2rem;
}
.donation-image {
    display: block;
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
