:root{
    background-color: #d9f2f2;
    background-color-dark: #242c38;
    secondary-color: #f7f7f7;
    text-dark: #242c38;
    text-light: #f2e3e3;
    extra-light: #f2f2f2;
    max-width: 1200px;
}
/*page formatting*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*navigation menu Bar*/
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: mintcream;
    z-index: 99;
    margin-bottom: 300px;
}
.nav_content{
    max-width: var(max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 3rem;
    font-weight: 600;
    color: var(primary-color);
    transition: 0.3s;
}

nav .logo a:hover{
    color: var(primary-color-dark);
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(text-dark);
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(secondary-color);
    border-bottom-color: var(secondary-color);
    color: var(text-dark);
}

.section{
    background-color: var(extra-light);
}

.section_container {
    min-height: 100vh;
    max-width: var(max-width);
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
}

.description{
    line-height: 1.5rem;
    color: var(text-light);
    margin-bottom: 2rem;
}

.action_btn{
    display: flex;
    gap: 1rem;
    margin: auto;
}

.action_btn button{
    font-size: 1rem;
    font-weight: 600;
    line: spacing 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(primary-color);
    border-radius: 10px;
    cursor: pointer;
}



