{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg mb-2 shadow" id="nav">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <img src="{% static 'images/help.jpeg'%}" alt="INUA" loading="lazy" id="logo" />
      </a>
      <!-- Left links -->
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-link" href="/">Test</a>
        </li>
        
        
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <!-- Notifications -->
      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell text-warning"></i>
          <span class="badge rounded-pill badge-notification bg-white text-warning">1</span>
        </a>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">{% if request.user.profile.profile_pic %}
          <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle"
            alt="User" loading="lazy"  id="logo" />
          {%else %}
          <img src="{% static 'images/help.jpeg' %}" class="rounded-circle shadow" height="25"
            alt="Black and White Portrait of a Man" loading="lazy" />
          {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li> 
            <a class="dropdown-item" href="{% url 'logout' %}">Logout/Signout</a>
          </li>
        </ul>
        {% else %}
        <div class="ms-auto">
          <a href="{% url 'login' %}" class="btn px-3 me-2" id="login-link">Login</a>
          <a href="{% url 'register' %}" class="btn me-3" id="register-link">Sign up for free</a>

        </div>
        {% endif %}
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->